.App {
  text-align: center;
}

header {
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 1px 10px 0px rgba(184,184,184,0.82);
}

.App-title {
  font-size: 1.5em;
  margin-left: 30px;
  color: green;
}

