.description-container h2 {
    margin-top: 30px;
}

.description-card-container {
    display: flex; 
    justify-content: center;
}

.description-card-container {
    width: 80%;
    margin: 40px auto;
}

.description-card {
    width: 250px;
}

.description-card i {
    font-size: 60px;
}

.description-card p {
    font-size: 16px;
    margin-bottom: 25px;
}

@media only screen and (min-width:300px) and (max-width:600px) {
    .description-card-container {
        flex-direction: column;
        align-items: center;

    }
}