.hero-container button {
    width: 200px; 
    height: 40px;
    border-radius: 50px;
    margin-left: auto;
    border: none;
    margin-right: auto;
    cursor: pointer;
    color: white;
    font-size: 16px;
    background-color: green; 
}

.hero-container button:hover {
    background-color: rgb(47, 172, 47)
}


.hero-container {
    position: relative;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    min-height: 500px;
    margin-left: auto;
    margin-right: auto; 
    text-align: center;
    font-family: 'Oxygen', sans-serif;
    color: white; 
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-weight: bold;
}

.hero-container h2 {
    width: 80%;
}

.hero-container p {
   font-size: 14px
}

.hero-container:after {
    content: "";
    position: absolute;
    background-image: url("../images/heroimage.jpg");
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0.8; 
}

#hero-login-link {
    color: white; 
}

#hero-login-link:hover {
    color: green; 
}
