.login-container {
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.login-form {
    width: 400px;
    height: 350px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    background-color: white;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.login-form input {
    width: 100%;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
}

.login-form label {
    text-align: left;
    font-weight: bold;
}

.login-form form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 350px;
}

.login-form button {
    height: 40px;
    width: 100%;
    margin-top: 25px;
    margin-left: auto; 
    margin-right: auto;
    border-radius: 5px; 
    background-color: green;
    font-size: 16px;
    color: white;
    border: none;
}

.login-form button:hover {
    background-color: rgb(27, 177, 27);
    cursor: pointer;
}


@media only screen and (min-width:300px) and (max-width:450px){
    .login-container {
       padding: 10px;
    }
    .login-form input {
        width: 250px;
        height: 30px;
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 16px;
    }
    .login-form {
        width: 280px;
        margin-left: auto;
        margin-right: auto;
    }

    .login-form button {
        height: 40px;
        width: 250px;

    }
    .login-form label {
        text-align: center;
    }   
   
}