.login-container {
    display: flex;
    flex-direction: column;
    background-color: rgb(204, 204, 204);
}
.login-form {
    width: 400px; 
    height: 350px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    background-color: white;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
}

.login-form input {
    width: 100%;
    height: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.login-form label {
    text-align: left;
    font-weight: bold;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 350px;
}

.login-form button {
    height: 40px;
    width: 100%;
    margin-top: 25px;
    border-radius: 5px; 
    background-color: green;
    font-size: 16px;
    color: white;
    border: none;
}
