.myrecipes-container {
    min-height: 500px;
}

.myrecipes-error, .myrecipes-loader{
    margin-top: 30px;
}

.myrecipes-error {
    color:white;
    width: 100%;
    position: fixed;
    z-index: 1;
    background-color: red;
    padding: 5px;
    bottom: 0;
}