.nav-bar-container ul {
    list-style: none;
    display: flex; 
    margin-right: 20px; 
    margin-top: 20px;
}

.nav-bar-container li {
    margin-right: 20px; 
}


@media only screen and (min-width:300px) and (max-width:400px) {
    .nav-bar-container li {
        font-size: 14px;    
    }
}