.recipeslist-container {
    width: 90%;
    display: flex;
    justify-content: center; 
    flex-wrap: wrap;
    margin: 0 auto;
}

.recipe-card-container {
    margin-bottom: 15px;
}

.recipe-card-buttons {
    display: flex;
    justify-content: center;
}

.delete-button, .save-button, .view-button {
   width: 95px;
   height: 40px;
   font-size: 16px;
   cursor: pointer;
   background-color: rgb(76, 145, 76);
   color: white;
   border: none;
   border-radius: 5px;
}

.view-button {
    margin-left: 7px;
}

.view-button a{
    text-decoration: none;
    color:white;
}



