.recipe-card  {
    width: 200px; 
    margin: 10px 20px;
    overflow: hidden;
    font-weight: bold;
    border: .5px solid lightgray;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}