.searchpage-container {
    min-height: 500px;
}
.save-success {
    color:white;
    width: 100%;
    position: fixed;
    z-index: 1;
    background-color: green;
    padding: 5px;
    bottom: 0;
}

.searchpage-error {
    color:white;
    width: 100%;
    position: fixed;
    z-index: 1;
    background-color: red;
    padding: 5px;
    bottom: 0;
}
.searchbox-container {
    padding: 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.searchbox-container input {
    width: 70%;
    height: 40px;
    font-size: 26px;  
    border-bottom: 1px dotted black;  
    border-top: none; 
    border-left: none; 
    border-right: none;
}

.searchbox-container button {
    width: 50px;
    height:45px;
    font-size: 28px;
    border: none;
    cursor: pointer;
}

.show-more-button {
    width: 150px;
    height:45px;
    background-color: white;
    border-radius: 8px;
    border: 2px solid #d93f3c;
    color: #d93f3c;
    font-size: 16px;
    margin: 20px auto;
    cursor: pointer;
}

@media only screen and (min-width:300px) and (max-width:400px){
    .searchbox-container input {
        font-size: 20px;    
    }
    .searchbox-container button {
        font-size: 20px;
    }
}