.signup-container {
    display: flex;
    flex-direction: column;
    padding: 30px;
}
.signup-form {
    width: 400px; 
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    background-color: white;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.form-error {
    color: red;
    font-size: 14px; 
    font-weight: normal
}

.signup-form input {
    width: 100%;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
}

.signup-form label {
    text-align: left;
    font-weight: bold;
}

.signup-form form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 350px;
}

.signup-form button {
    height: 40px;
    width: 100%;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px; 
    background-color: green;
    font-size: 16px;
    color: white;
    border: none;
    cursor: pointer;
}

.signup-form button:hover {
    background-color: rgb(27, 177, 27);
}

@media only screen and (min-width:300px) and (max-width:450px){
    .signup-container {
       padding: 10px;
    }
    .signup-form input {
        width: 250px;
        height: 30px;
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 16px;
    }
    .signup-form {
        width: 280px;
        margin-left: auto;
        margin-right: auto;
    }

    .signup-form button {
        height: 40px;
        width: 250px;

    }
    .signup-form label {
        text-align: center;
    }   
   
}
